@import url(reset.css);
@import url(config.css);

* {
  font-size: var(--fs-default);
}

body {
  background: linear-gradient(45deg, var(--clr-bkg-blue), var(--clr-bkg-violet));
  display: grid;
  place-items: center;
  margin: 2rem;
}

.divider {
  width: 100%;
  color: var(--clr-divider);
}

.faq__img img:nth-child(2) {
  position: relative;
  top: -70px;
  height: auto;
}

.faq {
  background-color: whitesmoke;
  max-width: 370px;
  padding: 2rem;
  border-radius: 1.5rem;
  font-family: var(--ff-default);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media(min-width:900px) {
  .faq {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 700px;
  }
  .faq__img {
    width: 100%;
    position: relative;
    left: -70px;
  }
  .faq__questions h1{
    display: flex;
  }
}

.faq__questions h1 {
  text-align: center;
  font-size: 3rem;
}

.faq .label {
  font-size: 1.3rem;
}

.faq .label::before {
  content: url(/images/icon-arrow-down.svg);
  color: var(--clr-text-red);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -2px;
  font-size: 1.75rem;
  font-weight: bolder;
}

.faq .content {
  font-size: 1.1rem;
  position: relative;
  text-align: justify;
  height: 0;
  overflow: hidden;
  transition: .5s;
  width: 90%;
}

.faq__questions {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.faq__questions .container {
  position: relative;
}

.faq__questions .label {
  position: relative;
  cursor: pointer;
}

.faq .container.active .content {
  height: 60px;
}

.faq .container.active .label::before {
  content: url(/images/icon-arrow-down.svg);
  transform: rotate(180deg);
  font-size: 1.75rem;
}